/* body {
    margin: 20px;
} */

#topheader .navbar-nav li > a {
    text-transform: capitalize;
    color: #333;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}
#topheader .navbar-nav li > a:hover, 
#topheader .navbar-nav li > a:focus {
    background-color: #7d7d7d;
    color: #fff;
}
#topheader .navbar-nav li.active > a {
    background-color: #494949;
    color: white;
}