{% extends "base.html" %}
{% load static %}

{% block css_files %}
	{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static "stilltheory_app/includes/header.css" %}">
    <link rel="stylesheet" href="{% static "stilltheory_app/homepage.css" %}">

	{% comment %} <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> {% endcomment %}
{% endblock %}

{% block page_title %}
    Stilltheory - Home
{% endblock %}

{% block content %}

    {% include "stilltheory_app/includes/header.html" %}
	
{% endblock %}
    